* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #0052d0;
}

.card {
  width: 350px;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(28 52 91 /36%);
  color: white;
  text-align: center;
}

.box-top,
.box-bottom {
  display: flex;
  align-items: center;
  gap: 15px;
}

.box-bottom {
    justify-content: space-around;
}

.box-top h1 {
  font-size: 30px;
}

.temperature,
.minMax {
  display: flex;
  align-items: center;
  gap: 10px;
}

.temperature img {
  width: 70px;
}

.minMax {
    margin-top: 10px;
}

.language {
  color: white;
  margin-top: 10px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .card{
    width: 300px;
  }
}
